{% extends "layout.html" %}

{% block pagetitle %}ArquiBot{% endblock pagetitle %}

{% block content %}

{% if wikipedias %}
<h2>Activated Wikipedias</h2>
<table>
  <thead>
    <tr>
      <th>Wikipedia</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody id="stats-body">
    {% for wikipedia in wikipedias %}
    <tr>
      <td style="font-size: 1.30em;"> <a href="{{ wikipedia.url }}">{{ wikipedia.code }}.wikipedia.org</a></td>
      <td style="font-size: 1.15em;"><a href="{{ wikipedia.url }}/wiki/User:ArquiBot">User:ArquiBot</a> (<a href="{{ wikipedia.url }}/wiki/User talk:ArquiBot">talk</a> | <a href="{{ wikipedia.url }}/wiki/Special:Contributions/ArquiBot">contribs</a>)</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock content %}
