{% extends "layout.html" %}

{% block pagetitle %}ArquiBot - Logs{% endblock pagetitle %}

{% block content %}
<h2>Logs</h2>
<form method="get">
<label for="date-filter">Filter by date (UTC):</label>
<input type="date" name="date" id="date-filter" value="{{ date_fmt }}" onchange="this.form.submit()">

<table>
  <thead>
    <tr>
      <th>Wikipedia</th>
      <th>Article</th>
      <th>Timestamp</th>
      <th>Edit</th>
      <th>URLs</th>
    </tr>
  </thead>
  <tbody id="stats-body">
    {% for article in articles %}
    {% with article.wikipedia as wikipedia %}
    <tr>
      <td><a href="{{ wikipedia.url}}">{{ wikipedia.code }}</a></td>
      <td><a href="{{ article.url}}">{{ article.title }}</a></td>
      <td>{{ article.modified }}</td>
      <td>
        {% if article.edit_id %}
        <a href="{{ article.edit_url}}">{{ article.edit_id }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td> <a href="{% url 'logs_article' id=article.id %}">URLs</a> </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
</form>
{% endblock content %}
