{% extends "layout.html" %}

{% block pagetitle %}ArquiBot{% endblock pagetitle %}

{% block content %}

<h2>Global statistics</h2>
{% if date_fmt %}
<form method="get">
<label for="date-filter">Filter by date (UTC):</label>
<input type="date" name="date" id="date-filter" value="{{ date_fmt }}" onchange="this.form.submit()">
</form>
<p style="text-align: center; font-size: 0.9em;"> {{ timestamp.datetime }} </p>
{% endif %}

{% if statistics %}
<table>
  <thead>
    <tr>
      <th>Wikipedia</th>
      <th>Articles edited</th>
      <th>URLs archived</th>
    </tr>
  </thead>
  <tbody id="stats-body">
    {% for stats in statistics %}
    <tr>
      <td style="font-size: 1.4em;">{{ stats.wikipedia.code }} (<a href="{{ stats.wikipedia.url }}/wiki/Special:Contributions/ArquiBot">contribs</a>)</td>
      <td style="font-size: 1.8em;">{{ stats.articles }}</td>
      <td style="font-size: 1.8em;">{{ stats.urls_archived }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3 style="text-align: center;">Statistics not found</h3>
{% endif %}

{% endblock content %}
