{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Arquibot Log</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'archivebot/css/style.css' %}" />
</head>
<body>
  <div class="toggle-container">
    <label class="switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider round">
        <span class="icon sun" aria-label="Light theme">🌕</span>
        <span class="icon moon" aria-label="Dark theme">🌑</span>
      </span>
    </label>
  </div>
  <h1>Arquibot Log</h1>

  <form method="get">
  <label for="date-filter">Filter by date (UTC):</label>
  <input type="date" name="date" id="date-filter" value="{{ date_fmt }}" onchange="this.form.submit()">

  <table>
    <thead>
      <tr>
        <th>Wikipedia</th>
        <th>Article</th>
        <th>URL</th>
        <th>Status</th>
        <th>Timestamp</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody id="stats-body">
      {% for url in urls %}
      {% with url.article.wikipedia as wikipedia %}
      <tr>
        <td><a href="{{ wikipedia.url}}">{{ wikipedia.code }}</a></td>
        <td><a href="{{ url.article.url}}">{{ url.article.title }}</a></td>
        <td><a href="{{ url.url}}">{{ url.url }}</a></td>
        <td>
          {% if url.archive_url %}
          <a href="{{ url.archive_url}}">{{ url.status }}</a>
          {% else %}
          {{ url.status }}
          {% endif %}
        </td>
        <td>{{ url.modified }}</td>
        <td>
          {% if url.article.edit_id and url.archive_url %}
          <a href="{{ url.article.edit_url}}">{{ url.article.edit_id }}</a>
          {% endif %}
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  </form>

  <script>
  function detectSystemTheme() {
    if (!localStorage.getItem("theme")) {
      const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      localStorage.setItem("theme", prefersDark ? "dark" : "light");
    }
  }

  function applyThemePreference() {
    const theme = localStorage.getItem("theme");
    if (theme === "dark") {
      document.body.classList.add("dark-theme");
    } else {
      document.body.classList.remove("dark-theme");
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    detectSystemTheme();
    applyThemePreference();
  });

  document.getElementById("theme-toggle").addEventListener("click", () => {
    const isDark = document.body.classList.toggle("dark-theme");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  });
</script>
